bin/
build*/
install*/
src-build/
log*/
cmake-build-*/
*/.idea
*__pycache__
.idea/
*.bag
*.log
*.xlsx
*logs/
*STATS.txt
*.STAT
*.orig
*/.vscode
build-I7/
**/payload-multiple.json
**/payload-robox.json
**/tmpcommand.bash
**/tmpout.txt
**/_jwt_token_dev.txt
**/_jwt_token_prod.txt
**/TmpMap.png
*.config
*.creator
*.files
*.includes
*.user
.catkin_tools/profiles/default/build.yaml
.catkin_tools/profiles/default/packages/
ws/.catkin_tools/profiles/default/config.yaml

*sysroot*/
cmake-build-default/
